@import 'nib'
@import '../../../assets/styl/utils.styl'


[data-component='about-intro']

	.about-intro
		padding-top 15px
		width 100%
		height auto
		text-align center
		padding-bottom 15px

	.about-intro
		h2
			color #0ebfdd
			


