<div data-component="team">

<section>
	<div class="team">
		<div class="container-fluid">
			<h2>Team</h2>

				<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-2">
					<img class="img-circle" src="{{team.img1}}" height="200" width="200"/>
					<p>John Doe</p>
					<p>Founder & CEO</p>
				</div>
				
				<div class="col-xs-12 col-md-2">
					<img class="img-circle" src="{{team.img2}}" height="200" width="200"/>
					<p>John Doe</p>
					<p>Co-Founder</p>
				</div>
				
				<div class="col-xs-12 col-md-2">
					<img class="img-circle" src="{{team.img3}}" height="200" width="200"/>
					<p>John Doe</p>
					<p>Investor</p>
				</div>

				</div>
			
			<div class="botao">
				<a class="link_button" href="#"> WORK WITH US</a>
			</div>
		</div>
	</div>
</section>

</div>