<div data-component="footer">

<footer>
    <div class="container">
        
            <ul>
                <li><a href="#">ABOUT </a></li>
                <li><a href="#">FAQ </a></li>
                <li><a href="#">WORK WITH US </a></li>                
                <li></li>
             </ul>
            
    </div>

</footer>
	
</div>